* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
        "navbar navbar"
        "main main"
        "project project"
        "contact contact";
    transition: max-height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), grid-template-rows 0.5s ease; /* Smoother transition */
}

/* Name design */
.name {
    background-color: red;
    max-width: fit-content;
    position: block;
}

/* Navbar */
.navBar {
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: black;
}

.navBar ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    text-decoration: none;
    font-style: italic;
    padding: 15px;
}

.navBar ul li a {
    color: white;
    text-decoration: none;
    font-size: larger;
    padding: 40px;
}

.navBar ul li a:hover {
    color: lightblue;
}

/* Content */
.intro {
    grid-area: main;
    background-color: aqua;
    margin: auto;
    min-height: 660px;
    max-height: 794px; /* Initial max-height */
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.project {
    grid-area: project;
    max-height: 0; /* Collapsed by default */
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project .innerProj {
    background-color: brown;
    width: 60%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
}

/* Contact section */
footer {
    grid-area: contact;
    color: white;
    background-color: black;
    max-height: 0; /* Collapsed by default */
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Expanded state */
body.expanded .project,
body.expanded footer {
    max-height: 687px; /* Expand smoothly */
}

/* Mobile */
@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }
}
